@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap&subset=cyrillic')
@import "../../static/vars"
.main-nav
  .navbar-brand
    padding-bottom: 20px
    .brand
      width: 78px
      height: 32px
      background-color: $second
      cursor: pointer
      margin-right: 75px
  .navigation
    list-style: none
    font-weight: 400
    font-family: 'Open Sans', sans-serif
    padding: 41px 0
    display: flex
    align-items: center

    @media (max-width: 992px)
      display: block !important
      li
        margin: 15px 0

    li
      cursor: pointer
    li.active
      color: $accent
      font-weight: 700
    .support-btn
      color: #5f2073
      font-family: "Open Sans", sans-serif
      font-weight: 600
